body {
    margin: 0;
    padding: 0;
}

.thumbnail img {
    width: 100%;
}
.thumbnail .caption-full {
    padding: 9px;
}

/*  SHOW PAGE  */

.button-actions {
    display: flex;
    flex-direction: row;
}
.button-actions a { margin-right: 10px; }