<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet"> 
    <title>Register - YelpCamp</title>
</head>
<body>

    <!-- IMPLEMENTING NAVIGATION -->    
    <% include ../partials/navigation.ejs %>
    <!-- Flash Message | Implementation -->
    <% include ../partials/flash-message.ejs %>

    <h1>Sign Up</h1>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign Up</button>
    </form>

</body>
</html>