<!-- NAVIGATION | START -->
<nav class="navbar navbar-expand navbar-dark bg-dark" style="margin-bottom: 2rem; position: relative; z-index: 50;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <% if (!currentUser) { %>
                    <li class="nav-item active"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item active"><a href="/register" class="nav-link">Sign Up</a></li>
                <% } else { %>
                    <li class="nav-item active"><a href="#" class="nav-link">Signed In As <%= currentUser.username %></a></li>
                    <li class="nav-item active"><a href="/logout" class="nav-link">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<!-- NAVIGATION | END -->